.project-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 3px solid black;
  padding: 15px;
  width: 80%;
  border-radius: 20px;
  height: 175px;
  background-color: #F2F2F2;
}

.project-name-label {
  font-size: 1.5em;
}

.input-make-project {
  width: 70%;
  font-size: 1em;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid black;
}

.project-form-error-container {
  width: 90%;
  height: 20px;
}

.form-error {
  margin: 0;
  color: red;
}

.save-project-btn {
  font-size: 1.25em;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  background-color: #444343;
  color: white;
  outline: none;
}

.save-project-btn:hover {
  box-shadow: 3px 5px #203246;
}

.save-project-btn:focus {
  transform: scale(1.05);
}

.save-project-btn:active {
  transform: translate(3px, 3px);
  box-shadow: 1px 2px #203246;
}
