.section-project-container {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.your-projects-h2 {
  float: right;
  margin-right: 2em;
  font-size: 3em;
  font-family: 'Finger Paint';
}

.project-cards-div {
  text-align: center;
  width: 100%;
  background-color: #DCDCDC;
  border-top: 7px solid black;
}
