.App {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  height: 95vh;
  background-color: lightgrey;
  border-bottom: 5px solid black;
}

.section-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
