.project-colors-article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
  border: solid 4px #6D6D6D;
  width: 85%;
  min-width: 400px;
  border-radius: 20px 0px 0px 20px;
  height: 250px;
  background-color: #F2F2F2;
  &:hover {
    border: solid 4px black;
  }
}

.icon-bin {
  height: 30px;
  width: 30px;
}

.trash-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #F2F2F2;
  &:hover {
    transform: scale(1.3)
  }
}

.colors-div-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.color-box {
  height: 20%;
  width: 100%;
    &:hover {
      transform: scale(1.06)
    }
}
