.project-colors-article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
  border: solid 4px #f2f2f2;
  width: 85%;
  border-radius: 20px 0px 0px 20px;
  height: 250px;
}

.colors-div-container {
  height: 249px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.color-box {
  height: 250px;
  width: 100%;
    &:hover {
      transform: scale(1.06)
    }
}