.palette-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 450px;
}

.palette-card-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
